h1{
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
text-align: center;
font-size: 100px;
color: Khaki;
}

#brush {
  background-color:mediumspringgreen;
}

#frames {
  background-color:lightcoral;
}

#paint {
  background-color:skyblue;
}

.item {
  font-family:Helvetica;
  font-size:32px;
  font-weight:bold;
  color:white;
}

.price {
  font-family: Helvetica;
  font-weight:bold;
  color:blue;
}
p {
  font-family:Helvetica;
}
